{% load helpers %}
{% if address_families %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>BGP Address-Families</strong></div>
        <table class="table table-hover panel-body">
            <tr>
                <th>Routing Instance</th>
                <th>AFI-SAFI</th>
            </tr>
            {% for af in address_families %}
                <tr>
                    <td>
                        <a href="{{ af.routing_instance.get_absolute_url }}">{{ af.routing_instance }}</a>
                    </td>
                    <td>
                        <a href="{{ af.get_absolute_url }}">{{ af }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
