{% if endpoints %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>BGP Peerings</strong></div>
        <table class="table table-hover panel-body">
        {% for endpoint in endpoints %}
            <tr>
                <td>
                    <a href="{{ endpoint.get_absolute_url }}">{{ endpoint }}</a>
                </td>
                <td>↔︎</td>
                <td>
                    <a href="{{ endpoint.get_absolute_url }}">{{ endpoint.peer }}</a>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% else %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>BGP Peer Sessions</strong></div>
        <table class="table table-hover panel-body">
            <tr>
                <td>
                    No peerings
                </td>
            </tr>
        </table>
    </div>
{% endif %}
