{% load helpers %}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right">
            {% if not endpoint and perms.nautobot_bgp_models.add_peerendpoint %}
                <a href="{% url 'plugins:nautobot_bgp_models:peerendpoint_add' peering=object.pk %}" class="btn btn-xs btn-success">
                    <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add
                </a>
            {% endif %}
            {% if endpoint %}
                <a href="{% url 'plugins:nautobot_bgp_models:peerendpoint' pk=endpoint.pk %}" class="btn btn-xs btn-info">
                    <span class="mdi mdi-dots-vertical-circle" aria-hidden="true"></span> Detail
                </a>
            {% endif %}
            {% if endpoint and perms.nautobot_bgp_models.change_peerendpoint %}
                <a href="{% url 'plugins:nautobot_bgp_models:peerendpoint_edit' pk=endpoint.pk %}" class="btn btn-xs btn-warning">
                    <span class="mdi mdi-pencil" aria-hidden="true"></span> Edit
                </a>
            {% endif %}
        </div>
        <strong>Peer Endpoint - {{ side }} Side</strong>
    </div>
    {% if endpoint %}
        <table class="table table-hover panel-body attr-table">
            <tr>
                {% if endpoint.routing_instance and endpoint.routing_instance.device %}
                    <td>Device</td>
                    <td><a href="{% url 'dcim:device' pk=endpoint.routing_instance.device.pk %}">{{ endpoint.routing_instance.device }}</a></td>
                {% elif not endpoint.routing_instance %}
                    <td>Provider</td>
                    <td>
                        {% include "nautobot_bgp_models/inc/native_property.html" with property=endpoint.autonomous_system.provider %}
                    </td>
                {% endif %}
            </tr>
            <tr>
                <td>Local IP Address</td>
                <td>
                {% if endpoint.fields_inherited.source_ip.value %}
                    {% include "nautobot_bgp_models/inc/inheritable_property.html" with property=endpoint.fields_inherited.source_ip %}
                {% elif endpoint.fields_inherited.source_interface.value %}
                    <a href="{% url 'ipam:ipaddress' pk=endpoint.local_ip.pk %}">{{ endpoint.local_ip }}</a> via {% include "nautobot_bgp_models/inc/inheritable_property.html" with property=endpoint.fields_inherited.source_interface %}
                {% endif %}
                </td>
            </tr>
            <tr>
                <td>Autonomous System</td>
                <td>
                    {% include "nautobot_bgp_models/inc/inheritable_property.html" with property=endpoint.fields_inherited.autonomous_system %}
                </td>
            </tr>
            <tr>
                <td>Peer Group</td>
                <td>{% include "nautobot_bgp_models/inc/native_property.html" with property=endpoint.peer_group %}</td>
            </tr>
        </table>
    {% else %}
        <div class="panel-body">
            <span class="text-muted">None</span>
        </div>
    {% endif %}
</div>