[flake8]
ignore =
  # Line length is enforced by Black, so flake8 doesn't need to check it
  E501,
  # Black disagrees with this rule, as does PEP 8; Black wins
  W503
exclude = 
  migrations,
  __pycache__,
  manage.py,
  settings.py,
  .venv
