{% extends 'generic/object_detail.html' %}
{% load helpers %}

{% block content_left_page %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>BGP Address-Family</strong>
                </div>
                <table class="table table-hover panel-body attr-table">
                    <tr>
                        <td>Device</td>
                        {% if object.routing_instance and object.routing_instance.device %}
                            <td><a href="{% url 'dcim:device' pk=object.routing_instance.device.pk %}">{{ object.routing_instance.device }}</a></td>
                        {% else %}
                            <td><span class="text-muted">None</span></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Routing Instance</td>
                        <td><a href="{% url 'plugins:nautobot_bgp_models:bgproutinginstance' pk=object.routing_instance.pk %}">{{ object.routing_instance }}</a></td>
                    </tr>
                </table>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Attributes</strong>
                </div>
                <table class="table table-hover panel-body attr-table">
                    <tr>
                        <td>AFI-SAFI</td>
                        <td>{{ object.afi_safi }}</td>
                    </tr>
                    <tr>
                        <td>VRF</td>
                        {% if object.vrf %}
                            <td><a href="{% url 'ipam:vrf' pk=object.vrf.pk %}">{{ object.vrf }}</a></td>
                        {% else %}
                            <td><span class="text-muted">None</span></td>
                        {% endif %}
                    </tr>
                </table>
            </div>
{% endblock content_left_page %}

{% block extra_nav_tabs %}
        <li role="presentation" {% if active_tab == 'extraattributes' %} class="active"{% endif %}>
            <a href="{% url 'plugins:nautobot_bgp_models:addressfamily_extraattributes' pk=object.pk %}">Extra Attributes</a>
        </li>
{% endblock extra_nav_tabs %}
