{% extends 'generic/object_detail.html' %}
{% load helpers %}

{% block content_left_page %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>BGP Autonomous System Range</strong>
                </div>
                <table class="table table-hover panel-body attr-table">
                    <tr>
                        <td>Start ASN</td>
                        <td>{{ object.asn_min }}</td>
                    </tr>
                    <tr>
                        <td>End ASN</td>
                        <td>{{ object.asn_max }}</td>
                    </tr>
                    <tr>
                        <td>Tenant</td>
                        <td>{{ object.tenant | hyperlinked_object }}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{ object.description }}</td>
                    </tr>
                </table>
            </div>
{% endblock content_left_page %}

{% block content_right_page %}
    {% include 'utilities/obj_table.html' with table=asn_range_table table_template='panel_table.html' heading='ASNs' bulk_edit_url='plugins:nautobot_bgp_models:autonomoussystem_bulk_edit' bulk_delete_url='plugins:nautobot_bgp_models:autonomoussystem_bulk_delete' %}
{% endblock content_right_page %}
