{% extends 'generic/object_edit.html' %}
{% load static %}
{% load form_helpers %}

{% block title %}Bulk Add ASNs{% endblock %}

{% block tabs %}
    {% include 'nautobot_bgp_models/inc/autonomoussystem_edit_header.html' with active_tab='bulk_add' %}
{% endblock %}

{% block form %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>IP Addresses</strong></div>
        <div class="panel-body">
            {% render_field form.pattern %}
            {% render_field model_form.description %}
            {% render_field model_form.status %}
            {% render_field model_form.provider %}
        </div>
    </div>
{% endblock %}
