{% extends 'nautobot_bgp_models/abstractpeeringinfo_edit.html' %}
{% load static %}
{% load form_helpers %}
{% load helpers %}

{% block pre_form %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Peer Group</strong></div>
        <div class="panel-body">
            {% render_field form.name %}
            {% render_field form.role %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Device Assignment</strong></div>
        <div class="panel-body">
            {% with vm_tab_active=form.initial.device_virtualmachine %}
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"{% if not vm_tab_active %} class="active"{% endif %}>
                        <a href="#device_device" role="tab" data-toggle="tab">Device</a>
                    </li>
                    <li role="presentation"{% if vm_tab_active %} class="active"{% endif %}>
                        <a href="#device_virtualmachine" role="tab" data-toggle="tab">Virtual Machine</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane{% if not vm_tab_active %} active{% endif %}" id="device_device">
                        {# Copied from render_field template, but make the field label show "required" #}
                        {% with field=form.device_device %}
                            <label class="col-md-3 control-label required" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <div class="col-md-9">
                                {{ field }}
                                {% if bulk_nullable %}
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="_nullify" value="{{ field.name }}" /> Set null
                                    </label>
                                {% endif %}
                                {% if field.help_text %}
                                    <span class="help-block">{{ field.help_text|safe }}</span>
                                {% endif %}
                                {% if field.errors %}
                                    <ul>
                                        {% for error in field.errors %}
                                            {# Embed an HTML comment indicating the error for extraction by tests #}
                                            <!-- FORM-ERROR {{ field.name }}: {{ error }} -->
                                            <li class="text-danger">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        {% endwith %}
                    </div>
                    <div class="tab-pane{% if vm_tab_active %} active{% endif %}" id="device_virtualmachine">
                        {# Copied from render_field template, but make the field label show "required" #}
                        {% with field=form.device_virtualmachine %}
                            <label class="col-md-3 control-label required" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <div class="col-md-9">
                                {{ field }}
                                {% if bulk_nullable %}
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="_nullify" value="{{ field.name }}" /> Set null
                                    </label>
                                {% endif %}
                                {% if field.help_text %}
                                    <span class="help-block">{{ field.help_text|safe }}</span>
                                {% endif %}
                                {% if field.errors %}
                                    <ul>
                                        {% for error in field.errors %}
                                            {# Embed an HTML comment indicating the error for extraction by tests #}
                                            <!-- FORM-ERROR {{ field.name }}: {{ error }} -->
                                            <li class="text-danger">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        {% endwith %}
                    </div>
                </div>
            {% endwith %}
        </div>
    </div>
{% endblock %}
