{% extends 'generic/object_detail.html' %}
{% load helpers %}

{% block content_left_page %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>BGP Peering</strong>
                </div>
                <table class="table table-hover panel-body attr-table">
                    <tr>
                        <td>Status</td>
                        <td>
                            <span class="label" style="color: {{ object.status.color|fgcolor }}; background-color: #{{ object.status.color }}">
                                {{ object.get_status_display }}
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
{% endblock content_left_page %}
{% block content_right_page %}
            {% include 'nautobot_bgp_models/inc/peerendpoint.html' with endpoint=object.endpoint_a side='A' %}
            {% include 'nautobot_bgp_models/inc/peerendpoint.html' with endpoint=object.endpoint_z side='Z' %}
{% endblock content_right_page %}
