{% extends 'generic/object_detail.html' %}
{% load helpers %}

{% block content_left_page %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>BGP Peer-Endpoint Address-Family</strong>
                </div>
                <table class="table table-hover panel-body attr-table">
                    <tr>
                        <td>Device</td>
                        {% if object.peer_endpoint.routing_instance and object.peer_endpoint.routing_instance.device %}
                            <td><a href="{% url 'dcim:device' pk=object.peer_endpoint.routing_instance.device.pk %}">{{ object.peer_endpoint.routing_instance.device }}</a></td>
                        {% else %}
                            <td><span class="text-muted">None</span></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Routing Instance</td>
                        {% if object.peer_endpoint.routing_instance %}
                            <td><a href="{% url 'plugins:nautobot_bgp_models:bgproutinginstance' pk=object.peer_endpoint.routing_instance.pk %}">{{ object.peer_endpoint.routing_instance }}</a></td>
                        {% else %}
                            <td><span class="text-muted">None</span></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Peer Endpoint</td>
                        <td>
                            <a href="{% url 'plugins:nautobot_bgp_models:peerendpoint' pk=object.peer_endpoint.pk %}">
                                {{ object.peer_endpoint }}
                            </a>
                        </td>
                    </td>
                </table>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Attributes</strong>
                </div>
                <table class="table table-hover panel-body attr-table">
                    <tr>
                        <td>AFI-SAFI</td>
                        <td>{{ object.afi_safi }}</td>
                    </tr>
                    <tr>
                        <td>Multipath</td>
                        <td>
                            {% include "nautobot_bgp_models/inc/inheritable_property.html" with property=object.fields_inherited.multipath %}
                        </td>
                    </tr>
                </table>
            </div>
{% endblock content_left_page %}
{% block content_right_page %}
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Policy</strong></div>
                <table class="table table-hover panel-body attr-table">
                    <tr>
                        <td>Import Policy</td>
                        <td>
                            {% include "nautobot_bgp_models/inc/inheritable_property.html" with property=object.fields_inherited.import_policy %}
                        </td>
                    </tr>
                    <tr>
                        <td>Export Policy</td>
                        <td>
                            {% include "nautobot_bgp_models/inc/inheritable_property.html" with property=object.fields_inherited.export_policy %}
                        </td>
                    </tr>
                </table>
            </div>
{% endblock content_right_page %}

{% block extra_nav_tabs %}
        <li role="presentation" {% if active_tab == 'extraattributes' %} class="active"{% endif %}>
            <a href="{% url 'plugins:nautobot_bgp_models:peerendpointaddressfamily_extraattributes' pk=object.pk %}">Extra Attributes</a>
        </li>
{% endblock extra_nav_tabs %}
